body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header, .hero, footer {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 200px 100px 200px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    justify-self: flex-start;
}

ul {
    list-style: none;
    display: flex;
    gap: 32px;
    color: #e5e7eb;
    font-size: 18px;
    padding: 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    padding : 0px 200px;
    gap: 100px;
    align-items: flex-start;;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 50px Opx;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 100px;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 8px;
    align-self: flex-start;
    padding: 8px 32px;
    border-style: none;
    margin-bottom: 50px;
}

.box {
    border-radius: 25px;
    border: 4px solid #3882f6;
    padding: 10px;
    width: 150px;
    height: 150px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 300px;
    gap: 30px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 300px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.author {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}